*~
O.*
*.log
*.swp
*.o
*.ko
tpr.mod.c
.tmp_versions/
Module.symvers
modules.order
*o.cmd
*.cmd
*.mod
build/buildroot-2019.08-x86_64/load_module.sh
build/buildroot-2019.08-x86_64/tpr.c
build/buildroot-2019.08-x86_64/tpr.h
build/buildroot-2019.08-x86_64/unload_module.sh
buildroot-2019.08-x86_64/unload_module.sh
buildroot-2019.08-x86_64/include/tpr.h
buildroot-2019.08-x86_64/load_module.sh

